@charset "UTF-8";

/********** 
MAIN - S 
**********/
/* main common -s */
main {padding-top: 138px;}
.sec-header{}
.sec-header h3{}

/* main common -e */

/* visual -s */
.visual { width: 100%;}

.visual .play-button {
    position: absolute;
    bottom: 36px;
    left: 50%;
    z-index: 22;
    width: 24px;
    margin-left: -268px;
    cursor: pointer;
}
.visual .scroll-btn {
    position: fixed;
    right: 10px; bottom: 50px; z-index: 999;
    width: 90px;
}
.scroll-btn .btn-chat {
    float: right;
    width: 90px; height: 90px; 
    padding: 0;
    border: 0; 
    background: none;
}
.scroll-btn .btn-chat img {width: 100%;}
.scroll-btn .top-btn {
    float: right;
    text-align: center; 
    width: 45px; height: 45px;
    padding: 0;
    margin-top: 15px;
    border: 0;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 1s ease;
    cursor: pointer; 
}
.scroll-btn .top-btn.on {  opacity: 1;}
.scroll-btn .material-symbols-outlined {
    font-size: 38px;
    color: #ffffff;
    line-height: 45px;
}
.kv-swiper {
    min-height: 600px;
    height: 45vh;
}
.kv-swiper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}
.kv-swiper .swiper-pagination {
    display: flex;
    left: 50%; bottom: 45px;
    width: 1400px;
    padding: 5px 0;
    margin-left: -700px;
}
.kv-swiper .swiper-pagination-bullet {
    display: block;
    width:40px; height: 3px;
    border-radius: 0;
    background-color: #fff;
    opacity: 1;
}
.kv-swiper .swiper-pagination-bullet-active {
    background-color: #000000;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* text swiper -s */
.main-visual-swiper2 {
    height: 70px;
    line-height: 70px;
    background-color: #572a31;
}
.main-visual-swiper2 .swiper {
    width: 1400px;
    margin: 0 auto;
}
.main-visual-swiper2 .swiper-slide {
    display: flex;
}
.main-visual-swiper2 .swiper-slide a {
    flex: 1;
    color: #fff;
}
/* text swiper -e */
/* visual section - e */

/* menu section - s */
.menu .menu-toms {  
    display: flex;
    justify-content: center;
    margin-top:91px;
    padding-bottom: 6px;  
}
.menu figcaption {
    margin-top: 40px;
    font-weight: 700; font-size: 20px; color: #333333;
}

/* menu section - e */

/* brand section -s */
.brand {
    width: 100%; height: 602px;
    background: url(../img/main/section2_bg.jpg) no-repeat center / cover;
}
.brand-wrap {
    text-align: right;
    width: 1440px;
    padding-top: 100px;
    margin: 0 auto;
}

.brand-box {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.brand-tit {
    padding-bottom: 20px;
    font-size: 48px; color: #572a31;
}

.brand-subtit {
    padding-top: 40px;
    font-size: 24px; color: #572a31; 
    line-height: 1.5;
}

.brand-box-list {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    gap: 15px;
}
.brand-box-list .btn-item {
    flex: 1;
    text-align: center;
    height: 60px;
    border: 1px solid #572a31;
    font-size: 24px; line-height: 60px; color: #572a31;
}

.brand-box-list .btn-item.type1 {
    color: #ffffff; 
    background-color: #572a31;
}
/* brand section -e */

/* md section -s */
.md .menu-toms {  
    display: flex;
    justify-content: center;
    margin-top:91px;
    padding-bottom: 6px;  
}
.md figcaption {
    margin-top: 40px;
    font-weight: 700; font-size: 20px; color: #333333;
}
/* md section -e */




/* menu & md swiper -s */
.menu-swiper .swiper {
    width: 1400px; height:700px;
    padding-bottom: 80px;
    
}
.menu-swiper.swiper-slide a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #010000;
}
.menu-swiper .swipe-btn {
    color: #000000;
}
.menu-swiper .swiper-button-next,
.menu-swiper .swiper-button-prev {
    margin-top: -114px;
}
.menu-swiper .swiper-button-next:after,
.menu-swiper .swiper-button-prev:after {
    font-size: 34px;
}
.menu-swiper .swiper-pagination {
    bottom: auto; top: 0; 
    right: 0; left: auto; 
    width: auto;
}
.menu-swiper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 14px; height: 14px;
    border-radius: 14px;
    opacity: 1;
    margin: 0 0 0 16px;
    background-color: #d4d4d4;
}
.menu-swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #572a31;
}
.menu-swiper.swiper-slide img {
    display: block;
    width: 1400px; height: 590px;
    object-fit: cover;
}
/* menu & md swiper -e */













