@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto:wght@100;300;400;500&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


/* tab */

.tab-menu {
  background-color: #efefef;
}
.tab-menu .tab {
  overflow: hidden;
  width: 1400px;
	margin: 0 auto;
}

.tab-menu .tab li {
		height: 55px;
		float: left;
		text-align: center;
		line-height: 55px;
		font-size: 18px; color: #000000;

}
.tab-menu .tab a {
		display: block;
}

.tab-menu .tab li.on {
		color: #ffffff;
		background-color: #572a31;
}

/* sub1 */

.drink {
		position: relative;
		height: 420px;
		background-image: url(../img/sub1/banner_bg_drink.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
}


.drink-inner .drink-wrap {
		position: absolute;
		top: 40%;
		left: 67%;
}
	
.drink-wrap h3 {
		float: left;
		font-size: 60px;
		color: #ffffff;
}

.drink-wrap .btn-food {
		display: inline-block;
		width: 147px; height: 47px;
		margin: 15px 0 0 30px;
		text-align: center;
		font-size: 18px; color: #ffffff;
		line-height: 47px;
		border: 1px solid #fff;
}

.food {
		position: relative;
		height: 420px;
		background: url(../img/sub1/banner_bg_food.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
}

.food-inner .food-wrap {
		position: absolute;
		top: 50%;
		left: 18%;
		margin-top: -36px;
}

.food-wrap h3 {
		float: left;
		font-size: 60px;
		color: #000000;
}

.food-wrap .btn-food {
		display: inline-block;
		width: 147px; height: 47px;
		margin-top: 15px;
		margin-left: 30px;
		text-align: center;
		font-size: 18px;
		color: #000;
		line-height: 47px;
		border: 1px solid #222;
}


.md {
		position: relative;
		height: 420px;
		background: url(../img/sub1/banner_bg_md.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
}

.md-inner .md-wrap {
		position: absolute;
		top: 40%;
		left: 67%;
		
}

.md-wrap h3 {
		float: left;
		font-size: 60px;
		color: #ffffff;
}

.md-wrap .btn-food {
		display: inline-block;
		width: 147px; height: 47px;
		margin-top: 15px;
		margin-left: 30px;
		text-align: center;
		font-size: 18px;
		color: #ffffff;
		line-height: 47px;
		border: 1px solid #fff;
}


/* sub2 */

.event{
		position: relative;
		height: 480px;
		background-image: url(../img/sub1/sv_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
}


.event h2 {
		text-align: center;
		line-height: 480px;
		font-size: 48px; color: #ffffff;
}


.sub {
		position: relative;
		width: 1400px;
		margin: 0 auto;
}
.sub-title {
		clear: both;
		text-align: center;
		padding-top: 40px;
		font-size: 36px; color: #000000;
}
.location-navi {
		float: right;
		padding-top: 20px;
		
}

.location-navi li {
		position: relative;
		float: left;
		font-size: 12px; color: #a7a6a6;
		padding-right: 20px;
}
.location-navi li::after {
		content: ">";
		position: absolute;
		top: 0; right: 8px;
}

.location-navi li:last-child::after {
		display: none;
}

/* sub3 */

.store {
		background-image: url(../img/sub1/sv_3.jpg);
}
.title {
		height: 480px;
		background-repeat: no-repeat;
		background-size: cover;
}
.title h2 {
		font-family: 'Roboto'; font-size: 48px; color: #ffffff;
		text-align: center;
		line-height: 480px;
}

.title .shop-tit {
		text-align: center;
		font-size: 36px;
}

.tab-menu.type-two .tab li {width: 50%;}

.map-container {
		margin: 86px 0 0;
    position: relative;
}

.map-container iframe {
		width: 100%;
		height: 800px;
		border: 0;
}

.search {
  position: absolute;
  top: 30px; left: 50px;
  width: 435px;
  padding: 25px 25px 22px;
  background-color: #572a31;
}

.search h4 {
  margin-bottom: 15px;
  font-size: 28px; color: #ffffff;
}

.search-box {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: #fff;
}
.search-bar {
  width: 100%;
  padding: 0 55px 0 10px; margin: 0;
  border: 0;
  line-height: 48px;
  font-size: 16px;
}
.search-btn {
  position: absolute;
  right: 0;
  width: 55px;height: 48px;
  background: url("../img/icon/search_i.png") no-repeat center / 20px auto;
  border: none;
  font-size: 0;
}
.search-item {
  width: 100%; height: 48px;
  margin-top: 10px;
  line-height: 48px;
  border: 0;
  font-size: 16px;
}
/* sub4 */

.chainstore {
	background-image: url(../img/sub1/sv_4.jpg);
}
.tab-menu.type-six .tab li {width: 16.6%;}

.sub-item {
	width: 720px; height: 68px ;
	margin: 0 auto;
	margin-top: 100px;
	
}

.sub .sub-item li {
	float:left ;
	width: 33.3%;
	font-size: 24px; color: #000000;
}	

.sub .sub-item li.on {
		color: #572a31;
}

.sub-line {
		border-top: 1px solid #e6e6e6;
		
}
.franchise h3 {
	font-size: 30px; color: #000000;
	margin-top: 170px;
}
.franchise p {
	font-size: 22px; color: #333333;
	margin-top: 25px;

}

.franchise-box {
	background-image: url(../img/sub1/service1_bg1.jpg);
	width: 1400px; height: 306px;
	margin-top: 32px;
	text-align: center;
}
.franchise-box h4 {
	font-size: 40px; color: #ffffff;
}

.franchise-box p {
	font-size: 18px; color: #ffffff;
}

.franchise .btn-01 {
	background-color: #FFF;
	width: 167px; height: 51px;
	padding: 10px 34px;
	font-size: 18px ; color: #000000;
	
}
/* sub5 */

.community {
	background-image: url(../img/sub1/sv_5.jpg);
}

.tab-menu.type-five .tab li {width: 20%;}

/* sub6 */

.tomntoms {
	background-image: url(../img/sub1/sv_5.jpg);
}
.tab-menu.type-four .tab li {width: 25%;}
